*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#pills-tab .active{
    background-color: sienna !important;
}

.modal-header{
    background-color: #f0ad4e !important;
}

.modal-body, .modal-footer{
    background-color: #fff3cd !important;
}

.h5{
    margin-left: 15px !important; 
}

.badge {
    margin: 2px !important;
}

#deskri {
    margin: 0px !important;
}

#variants{
    margin-top: -20px !important;
} 